body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/*Hero*/
  
  .hero {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .section-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .btn:hover,
    :focus {
      background-color: #404BBF;
    }

    /*Service*/


  .service {
    padding: 120px 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
   white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .service-list {
    padding: 120px, 156px;
    display: flex;
    display: flex;
    gap: 24px;
  }

  .section-item {
    width: calc((100% - 72px)/4);
  }
  .icon-blok {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd; 
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .section-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .section-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
 /*Team*/

  .team {
    background-color: #F4F4FD;
    padding: 120px 0;
  }

 .container {
  padding: 120 0;
 } 

  .section-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-bottom: 72px;
  }

  .team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ;
  }
  .social-container {
    padding: 32px 0;

  }

  .section-service {
    text-align: center;
    margin-bottom: 8px;
  }

  .section-text {
    text-align: center;
  }

  .social-list {
    display: flex;
    justify-content: center; 
    gap: 24px;
  }

  .social-item {
    width: 40px;
    height: 40px
  }

  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}

  .icon-svg {
   fill: #f4f4fd;
  }

  .my-image-class {
    display: block;
  }

  /*Portfolio*/

  .portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
  }

  .section-team {
    transform: translateY(0);
  }

  .portfolio-list {
    display: flex;
    align-items: center;
    padding: 232px, 156px, 120px, 156px;
    row-gap: 24px;
    column-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
  }
  .portfolio-item{
    width: calc((100% - 48px) / 3);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    transform: translateY(0%);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .some-text {
    transform: translateY(0%);
  }

  .some-tumba {
    position: relative;
    overflow: hidden;
  }

  .some-text {
    position: absolute; 
    width: 296px;
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    display: flex;
    gap: 24px;
  }

  .team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px)/4);
  }

  .container-taam {
    padding: 32px 0;
    text-align: center;
    }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  
  /*Footer*/

  .page-footer{
     background-color: #2e2f42;
     padding: 100px 0;
  }

  .section-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
    width: 1158px;
    padding: 0 15;
    margin: 0 auto;
  }

  .container-logo {
    margin-right: 120px;
  }

  .social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  } 
  
  .footer-list {
    display: flex; 
    gap: 16px;
  }

  .footer-item{
    width: 40px;
    height: 40px;
  }

  .footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .icon-footer {
    fill:  #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  }

  a:hover {
    background-color: #31d0aa; 
  }
  
  a:focus {
    background-color: #31d0aa; 
  }
  
  .logo footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }


  